<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="vitality/vitalityengage/v1" javaclass="com.wm.util.Values">
    <value name="urlPath">rad/AIAPOC.challengeManager.rs:engageVitality</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
</Values>
